*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121417; }

.rating-state {
  padding: 3.2rem 3.9rem 3.2rem 3.2rem; }

.thanks-you-state {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 4.5rem 4rem 4.5rem 3.2rem; }

.card {
  width: 41.2rem;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 3rem;
  margin: 2.4rem; }
  .card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: #252d37;
    margin-bottom: 3.4rem; }
  .card__heading {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: white;
    margin-bottom: 1rem; }
  .card__body {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #7c8798; }
  .card__rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 3.2rem; }
  .card__radio-input {
    display: none; }
  .card__radio-button {
    display: inline-block;
    width: 5.1rem;
    height: 5.1rem;
    border-radius: 50%;
    background-color: #252d37;
    color: #7c8798;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 5.5rem;
    text-align: center;
    transition: all .2s; }
    .card__radio-button:hover {
      background-color: #fb7413;
      color: white;
      cursor: pointer; }
  .card__radio-input:checked + .card__radio-label .card__radio-button {
    background-color: #7c8798;
    color: white; }
  .card__button {
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 2.25rem;
    background-color: #fb7413;
    color: white;
    font-size: 1.5rem;
    line-height: 1.9rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    transition: all .2s; }
    .card__button:hover {
      background-color: white;
      color: #fb7413;
      cursor: pointer; }
  .card__img {
    margin-bottom: 3.2rem; }
  .card__selected-message {
    display: inline-block;
    padding: .4rem 2rem;
    border-radius: 2.25rem;
    margin-bottom: 3.7rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    background-color: #252d37;
    color: #fb7413; }
