//Colors

//Primary

$orange: hsl(25, 97%, 53%);

//Neutral

$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 20%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $very-dark-blue;
}

.rating-state {
    padding: 3.2rem 3.9rem 3.2rem 3.2rem;
}

.thanks-you-state {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4.5rem 4rem 4.5rem 3.2rem;
}

.card {
    width: 41.2rem;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 3rem;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        background-color: $dark-blue;
        
        margin-bottom: 3.4rem;
    }
    

    &__heading {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 3.5rem;
        color: $white;
        margin-bottom: 1rem;
    }

    &__body {
        font-size: 1.5rem;
        line-height: 2.4rem;
        color: $medium-grey;
    }

    &__rating-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.5rem;
        margin-bottom: 3.2rem;
    }

    &__radio-input {
        display: none;
    }

    &__radio-button {
        display: inline-block;
        width: 5.1rem;
        height: 5.1rem;
        border-radius: 50%;
        background-color: $dark-blue;
        color: $medium-grey;
        
        font-weight: 700;
        font-size: 1.7rem;
        line-height: 5.5rem;
        text-align: center;

        transition: all .2s;

        &:hover {
            background-color: $orange;
            color: $white;
            cursor: pointer;
        }
    }

    &__radio-input:checked+&__radio-label &__radio-button {
        background-color: $medium-grey;
        color: $white;
    }

    &__button {
        width: 100%;
        height: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none;
        border-radius: 2.25rem;
        background-color: $orange;
        color: $white;

        font-size: 1.5rem;
        line-height: 1.9rem;
        letter-spacing: .2rem;
        text-transform: uppercase;

        transition: all .2s;

        &:hover {
            background-color: $white;
            color: $orange;
            cursor: pointer;
        }
    }

    &__img {
        margin-bottom: 3.2rem;
    }

    &__selected-message {
        display: inline-block;
        padding: .4rem 2rem;
        border-radius: 2.25rem;
        margin-bottom: 3.7rem;

        font-size: 1.5rem;
        line-height: 2.4rem;

        background-color: $dark-blue;
        color: $orange;
    }
}